<button class="fixed top-25 lg:hidden  left-1 z-10 bg-white/80 hover:bg-white rounded-full p-2 shadow-lg "
  (click)="toggleSidebar()" *ngIf="!showSidebar">
  <img src="../../../assets/caret-right.png" class="w-6 h-6">
</button>

<!-- overlay for close -->
<div class="fixed inset-0 bg-black/30 z-4 lg:hidden" *ngIf="showSidebar" (click)="closeSidebar()"></div>

<div class="flex justify-left items-center min-h-screen">
  <div class="h-screen w-[20vw] bg-[#fcc7c7] Nav-admin relative" [class.show]="showSidebar">
    <!-- Close button inside sidebar (mobile only) -->
    <button class="lg:hidden absolute top-4 right-4 z-10 bg-white/80 hover:bg-white rounded-full p-2 shadow-lg"
      (click)="closeSidebar()">
      <img src="../../../assets/caret-left.png" class="w-5 h-5">
    </button>

    <div class="flex justify-center items-center min-h-screen">
      <ul class="flex flex-col lg:justify-center  mt-10 text-center text-black p-4 ring-gray-700 w-[20vw] h-screen z-[1]"
        id="Nav-admin-opt">
        <li routerLinkActive="ring-2" [routerLinkActiveOptions]="{ exact: true }" (click)="closeSidebar()"
          routerLink="dashboard" class="rounded bg-white/40 hover:bg-white/80 text-black p-4 m-2 mb-10 cursor-pointer">
          <a>Dashboard</a>
        </li>
        <li routerLinkActive="ring-2" (click)="closeSidebar()" routerLink="bus"
          class="rounded bg-white/40 hover:bg-white/80 text-black p-4 m-2 mb-10 cursor-pointer">
          <a>Buses</a>
        </li>
        <li routerLinkActive="ring-2" (click)="closeSidebar()" routerLink="route"
          class="rounded bg-white/40 hover:bg-white/80 text-black p-4 m-2 mb-10 cursor-pointer">
          <a>Routes</a>
        </li>
        <li routerLinkActive="ring-2" (click)="closeSidebar()" routerLink="schedule"
          class="rounded bg-white/40 hover:bg-white/80 text-black p-4 m-2 mb-10 cursor-pointer">
          <a>Schedule</a>
        </li>
        <li routerLinkActive="ring-2" (click)="closeSidebar()" routerLink="customer"
          class="rounded bg-white/40 hover:bg-white/80 text-black p-4 m-2 mb-10 cursor-pointer">
          <a>Customer</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex items-center min-h-screen w-[80vw] bg-cover bg-center bg-img-con" id="Con-admin">
    <router-outlet />
  </div>
</div>