.bg-img-con {
  background-image: url("../../../assets/home-bg.png");
  position: fixed;
  right: 0;
}

.Nav-admin {
  position: fixed;
  bottom: 0%;
  z-index: 5;
  width: 20vw;
  height: 100vh;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

@media (max-width: 1024px) {
  #Nav-admin-opt{
    width: 70vw;
  }

  .Nav-admin {
    width: 80vw;
    height: 91vh;
    position: fixed;
    bottom: 0%;
    left: 0;
    transform: translateX(-100%);
  }

  .Nav-admin.show {
    transform: translateX(0);
  }

  #Con-admin {
    width: 100vw;
  }
}