#Nav-admin{
    height: 100vh;
    width: 20vw;
    background-color: rgb(252, 199, 199);
}

#Nav-admin-opt{
    width: 20vw;
    height: 100vh;
    z-index: 1;
}

#Con-admin{
    height: 100vh;
    width: 80vw;
    background-image: url("../../../assets/home-bg.png");
}