.ad-cont {
    position: fixed;
    bottom: 0%;
    width: 80vw;
    height: 90vh;
    overflow-x: hidden;
}

.dash-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-item>img {
    width: 40%;
    min-width: 120px;
}

@media (max-width: 1024px) {
    .ad-cont {
        background-color: aqua;
        padding-top: 15%;
        width: 100vw;
    }
}