@import "tailwindcss";

.ad-cont {
    position: fixed;
    bottom: 0%;
    width: 80vw;
    height: 90vh;
    overflow-x: hidden;
}

.ad-cont-top {
    position: fixed;
    top: 10vh;
    bottom: 60vh;
    width: 80vw;
    height: 30vh;
}

.ad-cont-bot {
    position: fixed;
    top: 40vh;
    bottom: 0vh;
    width: 80vw;
    height: 60vh;
}

body {
    background-color: black;
    scroll-behavior: smooth;
}

@media (max-width: 1024px) {
    .ad-cont {
        width: 100vw;
    }

    .ad-cont-top {
        width: 100vw;
    }

    .ad-cont-bot {
        width: 100vw;
    }

    #main-search-filter{
        position: fixed;
        top: 18vh;
        width: 100vw;
    }
}